h1 {
	font-family: 'Trebuchet MS', sans-serif; 
	font-size: 48px;
	color: blue;
}


img {
  border: inset 4px mediumSlateBlue;
}


p {
	margin: 12px 10px 10px 12px; 
}


h2 {
	box-shadow: 2px -5px 3px 4px;  	
}

h2 {
	text-shadow: 2px -5px 3px lightBlue;  	
}


h2 {
	text-shadow: 2px -5px 3px LightBlue, 0px -2px 10px yellow;  	
}


html {
	background-color: #ADD8E6;
}

a {
  text-decoration: none;	/*you can also put underline, line-through, or overline for values"*/
	color: blue; 
}	
	
